---
import Layout from '@/layouts/Layout.astro'
import * as m from '../paraglide/messages.js'

const title = [Astro.locals.runtimeConfig.public.brand, m.aup()].join(' | ')
const description = m.read_our_aup()

const content = { title, description }
---

<Layout content={content}>
  <div class="prose-sm prose m-auto px-3 text-left">
    <h1>{m.aup()}</h1>
    <p><em>{m.last_update()}: 07/09/2024</em></p>
    <p>
      {m.aup_intro()}
    </p>
    <h2>{m.aup_no_illegal_use()}</h2>
    <p>
      {m.aup_no_illegal_use_desc()}
    </p>
    <ul>
      <li>
        <strong>{m.illegal_activities()}</strong>
        {m.illegal_activities_desc()}
      </li>
      <li>
        <strong>{m.infringing_content()}</strong>
        {m.infringing_content_desc()}
      </li>
      <li>
        <strong>{m.offensive_content()}</strong>
        {m.offensive_content_desc()}
      </li>
      <li>
        <strong>{m.harmful_content()}</strong>
        {m.harmful_content_desc()}
      </li>
      <li>
        <strong>{m.platform_compliance()}</strong>
        {m.platform_compliance_desc()}
      </li>
    </ul>
    <h2>{m.aup_no_security_violations()}</h2>
    <p>
      {m.aup_no_security_violations_desc()}
    </p>
    <ul>
      <li>
        <strong>{m.unauthorized_access()}</strong>
        {m.unauthorized_access_desc()}
      </li>
      <li><strong>{m.interception()}</strong></li>
      <li>
        <strong>{m.falsification_of_origin()}</strong>
        {m.falsification_of_origin_desc()}
      </li>
    </ul>
    <h2>{m.aup_no_network_abuse()}</h2>
    <p>{m.aup_no_network_abuse_desc()}</p>
    <ul>
      <li><strong>{m.monitoring_crawling()}</strong>{m.monitoring_crawling_desc()}</li>
      <li>
        <strong>{m.denial_of_service()}</strong>
        {m.denial_of_service_desc()}
      </li>
      <li>
        <strong>{m.intentional_interference()}</strong>
        {m.intentional_interference_desc()}
      </li>
      <li>
        <strong>{m.operation_of_network_services()}</strong>
        {m.operation_of_network_services_desc()}
      </li>
      <li>
        <strong>{m.avoiding_system_restrictions()}</strong>
        {m.avoiding_system_restrictions_desc()}
      </li>
    </ul>
    <h2>{m.aup_no_email_abuse()}</h2>
    <p>{m.aup_no_email_abuse_desc()}</p>
    <h2>{m.aup_monitoring_enforcement()}</h2>
    <p>{m.aup_monitoring_enforcement_desc()}</p>
    <ul>
      <li>{m.investigate_violations()}</li>
      <li>{m.remove_modify_content()}</li>
    </ul>
    <p>
      {m.report_violations_desc()}
      {m.report_violations_desc_2()}
    </p>
    <h2>{m.aup_reporting_violations()}</h2>
    <p set:html={m.aup_reporting_violations_desc()} />
  </div>
</Layout>
