---
import { actions } from '@/config/plugins'
import Layout from '@/layouts/Layout.astro'
import * as m from '@/paraglide/messages'
import { getSlug } from '@/services/github'
import { ArrowUpRightIcon } from '@heroicons/vue/20/solid'
import { getRelativeLocaleUrl } from 'astro:i18n'
import { marked } from 'marked'

const title = [Astro.locals.runtimeConfig.public.brand, m.plugins({}, { locale: Astro.locals.locale })].join(' | ')
const description = m.plugins_description({}, { locale: Astro.locals.locale })

const content = { title, description }

const { locale } = Astro.locals

// Process descriptions with marked
const plugins = await Promise.all(
  actions.map(async (item) => ({
    ...item,
    description: await marked.parse(item.description),
  })),
)
---

<Layout content={content}>
  <div class="z-10 mt-24 mb-24 flex w-full flex-col md:items-center">
    <h1 class="px-10 text-4xl font-bold md:text-center md:text-6xl">
      {actions.length}
      {m.powerful_app_plugins({}, { locale })}
    </h1>
    <h2 class="mt-8 max-w-full px-10 text-2xl font-light md:text-center lg:max-w-[75%]">
      {m.powerful_app_plugins_description({}, { locale })}
    </h2>
    <div class="mt-12 flex w-full flex-col items-start px-10 sm:mt-24 sm:flex-row sm:justify-center lg:max-w-6xl xl:px-0">
      <div class="mt-8 grid grid-cols-1 gap-4 sm:mt-0 md:grid-cols-2 xl:grid-cols-3">
        {
          plugins.map((item) => (
            <a
              href={item.href !== 'N/A' ? getRelativeLocaleUrl(locale, `plugins/${getSlug(item.href)}`) : '#'}
              class="group flex flex-col overflow-hidden rounded border border-gray-600 shadow hover:shadow-white md:max-w-sm"
            >
              <div class="flex flex-col px-5 py-3">
                {item.icon && <item.icon class="mt-3 mb-6 w-[30px] fill-gray-400 group-hover:fill-white" />}
                <div class="text-lg font-bold text-white">{item.title}</div>
                <div class="mt-3 line-clamp-2 w-full text-sm break-all text-gray-200" set:html={item.description} />
              </div>
              <div class="mt-auto mb-3 flex flex-row items-center justify-between px-5 pb-3">
                <span class="text-sm font-light text-gray-400">by {item.author}</span>
                {item.href !== 'N/A' && <ArrowUpRightIcon class="h-[18px] w-[18px] fill-gray-500 group-hover:fill-white" />}
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</Layout>
