---
import Layout from '@/layouts/Layout.astro'
import Calculator from '@/components/pricing/Calculator.astro'
import CreditPricing from '@/components/pricing/CreditPricing.astro'
import Faq from '@/components/pricing/Faq.astro'
import Plans from '@/components/pricing/Plans.astro'
import type { Database } from '@/services/supabase.types'
import * as m from '@/paraglide/messages'
import Enterprise from '@/components/enterprise.astro'

const title = [Astro.locals.runtimeConfig.public.brand, m.pricing({}, { locale: Astro.locals.locale })].join(' | ')
const description = m.pricing_description({}, { locale: Astro.locals.locale })

const content = { title, description }

const config = Astro.locals.runtimeConfig

let yearly = true
let plansAll: Database['public']['Tables']['plans']['Row'][] = []
let credits: any[] = []

// Fetch plans data
const response = await fetch(`${config.public.baseApiUrl}/private/plans`)
plansAll = await response.json()

// Fetch credits data
const creditsResponse = await fetch(`${config.public.baseApiUrl}/private/credits`)
credits = await creditsResponse.json()

// Filter plans
const plans = plansAll.length ? plansAll.filter((p) => p.name !== 'Free') : []
const payg = plansAll.length ? plansAll.filter((p) => p.name === 'Pay as you go')[0] : undefined

---

<Layout content={content}
  ><section class="bg-gray-50 py-12 sm:py-16">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="mx-auto text-center mb-8 sm:mb-24">
        <h1 class="font-pj text-3xl font-bold text-gray-900 sm:text-4xl xl:text-6xl">
          {m.plans_that_scale_with_your_business({}, { locale: Astro.locals.locale })}
        </h1>
        <p class="font-pj mt-6 text-xl font-normal text-gray-600">
          {m.plans_that_scale_with_your_business_description({}, { locale: Astro.locals.locale })}
        </p>
      </div>

      {plans && plans.length > 0 && <Plans yearly={yearly} pricing={plans} />}

      <div class="mt-8 flex items-center justify-center space-x-6 pb-12 sm:pb-16">
        <div class="flex items-center">
          <input
            id="monthly"
            type="radio"
            checked={!yearly}
            name="pricing-plans"
            class="h-4 w-4 border border-gray-200 text-blue-600 focus:ring-1 focus:ring-blue-600 focus:outline-none"
          />
          <label for="monthly" class="ml-3 block text-sm font-medium text-gray-900 sm:text-base">
            {m.monthly_plan({}, { locale: Astro.locals.locale })}
          </label>
        </div>
        <div class="flex items-center">
          <input
            id="yearly"
            type="radio"
            checked={yearly}
            name="pricing-plans"
            class="h-4 w-4 border border-gray-200 text-blue-600 focus:ring-1 focus:ring-blue-600 focus:outline-none"
          />
          <label for="yearly" class="ml-3 block text-sm font-medium text-gray-900 sm:text-base">
            {m.yearly_plan({}, { locale: Astro.locals.locale })}
          </label>
          <span class="ml-1 text-sm font-medium text-blue-600">
            ({m.save({}, { locale: Astro.locals.locale })} 20%)
          </span>
        </div>
      </div>
      <Enterprise />
      {credits && credits.length > 0 && <CreditPricing credits={credits} />}
      <Calculator />
      <p class="font-pj mx-auto mb-8 max-w-md text-center text-base text-gray-500 md:mt-16">
        {m.we_don_t_bill_you_automatically_until_your_confirmation({}, { locale: Astro.locals.locale })}<br />
        {m.we_don_t_store_or_sell_your_data_to_anyone({}, { locale: Astro.locals.locale })}
      </p>
    </div>
    <Faq />
  </section>
</Layout>
