---
import Layout from '@/layouts/Layout.astro'
import * as m from "../paraglide/messages.js"

const title = [Astro.locals.runtimeConfig.public.brand, m.security_policy()].join(' | ')
const description = m.read_our_security_policy()

const content = { title, description }
---

<Layout content={content}>
  <div class="px-3 m-auto prose-sm prose text-left">
    <h1>{m.security_policy()}</h1>
    <p>
      {m.contact()}: <a href="https://github.com/Cap-go/capgo/security/advisories/new"
        >https://github.com/Cap-go/capgo/security/advisories/new</a
      ><br />
      {m.canonical()}: <a href="https://capgo.app/security.txt">https://capgo.app/security.txt</a>
    </p>
    <p>
      {m.security_intro()}
    </p>
    <p>
      {m.security_discovery()}
    </p>
    <h2>{m.security_out_of_scope_title()}</h2>
    <ul>
      <li>{m.security_out_of_scope_1()}</li>
      <li>{m.security_out_of_scope_2()}</li>
      <li>{m.security_out_of_scope_3()}</li>
      <li>{m.security_out_of_scope_4()}</li>
      <li>{m.security_out_of_scope_5()}</li>
      <li>{m.security_out_of_scope_6()}</li>
      <li>{m.security_out_of_scope_7()}</li>
      <li>{m.security_out_of_scope_8()}</li>
      <li>{m.security_out_of_scope_9()}</li>
      <li>{m.security_out_of_scope_10()}</li>
      <li>{m.security_out_of_scope_11()}</li>
    </ul>
    <h2>{m.security_testing_guidelines_title()}</h2>
    <ul>
      <li>
        {m.security_testing_guidelines_1()}
      </li>
      <li>
        {m.security_testing_guidelines_2()}
      </li>
    </ul>
    <h2>{m.security_reporting_guidelines_title()}</h2>
    <ul>
      <li>
        {m.security_reporting_guidelines_1()}: <a href="https://github.com/Cap-go/capgo/security/advisories/new"
          >https://github.com/Cap-go/capgo/security/advisories/new</a
        >
      </li>
      <li>{m.security_reporting_guidelines_2()}</li>
    </ul>
    <h2>{m.security_disclosure_guidelines_title()}</h2>
    <ul>
      <li>{m.security_disclosure_guidelines_1()}</li>
      <li>
        {m.security_disclosure_guidelines_2()}
        <ul>
          <li>{m.security_disclosure_guidelines_2_1()}</li>
          <li>{m.security_disclosure_guidelines_2_2()}</li>
          <li>{m.security_disclosure_guidelines_2_3()}</li>
        </ul>
      </li>
    </ul>
    <h2>{m.security_what_we_promise_title()}</h2>
    <ul>
      <li>{m.security_what_we_promise_1()}</li>
      <li>{m.security_what_we_promise_2()}</li>
      <li>{m.security_what_we_promise_3()}</li>
      <li>{m.security_what_we_promise_4()}</li>
      <li>{m.security_what_we_promise_5()}</li>
    </ul>
    <p>{m.security_closing()}</p>
  </div>
</Layout>
