---
import { formatTime } from '@/config/app'
import { getRelativeLocaleUrl } from 'astro:i18n'

const props = Astro.props as {
  tag: string
  link: string
  date: string
  title: string
  image?: string
  loading?: 'eager' | 'lazy'
}

const cannLink = getRelativeLocaleUrl(Astro.locals.locale, `blog/${props.link}`)
---

<div class="rounded-lg bg-gray-700 pb-8">
  <div>
    <div class="relative p-2">
      <a href={cannLink} title={props.title} class="aspect-w-4 aspect-h-3 block">
        <img
          width="1536"
          height="1024"
          decoding="async"
          src={props.image}
          alt={props.title}
          loading={props.loading || 'lazy'}
          class="z-2 aspect-video h-full w-full rounded-lg border border-gray-600 bg-linear-to-br from-gray-600/50 to-gray-700/50 bg-cover bg-center bg-no-repeat object-contain text-transparent"
        />
      </a>
      <div class="absolute top-4 left-4">
        <span class="rounded-full bg-white px-4 py-2 text-xs font-semibold tracking-widest text-gray-900 uppercase shadow-lg">
          {props.tag}
        </span>
      </div>
    </div>
    <span class="mt-3 block px-5 text-sm font-semibold tracking-widest text-gray-300 uppercase">
      {formatTime(props.date)}
    </span>
    <p class="mt-3 px-5 text-2xl font-semibold">
      <a href={cannLink} title={props.title} class="text-gray-100">
        {props.title}
      </a>
    </p>
  </div>
</div>
